.home-body-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    font-size: 24px;
    color: blueviolet;
}