.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
}

.welcome-message {
    font-size: 24px;
    color: blueviolet;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .body-container {
        margin-top: 10rem;
        margin-bottom: 10rem;
        padding: 1rem;
    }
}