.quiz-card {
    text-align: center;
    width: 90%;
    min-height: 65%;
    padding: 1rem;
    border: 1px solid blue;
    border-radius: 10px;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem;
    color: grey;
}

.submit-container {
    height: 3rem;
    margin: 0.5rem;
}

.answer-options-container {
    min-height: 55%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.high-score-message {
    display: flex;
    width: 90%;
    color: green;
    font-weight: 600;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
}

.dropdown-menu{
    max-height: 10rem;
    overflow: auto;
}

.error-display-message {
    padding: 3rem;
    color: red;
    font-weight: 600;
}

@media only screen and (max-width: 600px){
    .quiz-card {
        border: none;
        min-height: unset;
    }

    .high-score-message {
        flex-direction: column-reverse;
    }

    .quiz-info {
        display: none;
    }
}